<header class="header__container">
  <a routerLink="/">
    <img src="../../../assets/images/logo.png" alt="logo" width="36" height="36" class="header__container-logo">
    <span>Gratia</span>
  </a>
  <nav>
    <ul class="header__list">
      <li class="header__list-item"><a routerLink="/">About</a></li>
      <li class="header__list-item"><a routerLink="/menu">Menu</a></li>
      <li class="header__list-item"><a routerLink="/gallery">Gallery</a></li>
      <li class="header__list-item"><a routerLink="/contacts">Contacts</a></li>
    </ul>
  </nav>
</header>
