.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #151b29;
  padding: 15px 0;
}

.header__container-logo {
  margin: 0 10px;
}

.header__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

.header__list-item {
  list-style: none;
}

a {
  display: flex;
  align-items: center;
  margin: 0 20px;
  text-decoration: none;
  color: #ccc;
  font-family: "CrimsonText Italic", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
}
