<section class="offers__container">
  <h2 class="visually-hidden">Our offers</h2>
  <h3 class="offers-title">perfection</h3>
  <p class="offers-title_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

  <section class="slider">
    <ul class="slides">
      <li class="slide">
        <a routerLink="/menu">
          <img src="../../../assets/images/offers1.png" alt="desserts" width="410" height="300">
          <p class="slide__title">desserts</p>
          <p class="offers-title_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
      </li>
      <li class="slide">
        <a routerLink="/menu">
          <img src="../../../assets/images/offers2.png" alt="smoothies" width="350" height="450">
          <p class="slide__title">smoothies</p>
          <p class="offers-title_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
      </li>
      <li class="slide">
        <a routerLink="/menu">
          <img src="../../../assets/images/offers3.png" alt="breakfast" width="410" height="300">
          <p class="slide__title">breakfast</p>
          <p class="offers-title_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
      </li>
    </ul>
  </section>

  <a routerLink="/menu" class="offers__container_button">check other offers</a>
</section>

