<div class="bookform__container">
  <div class="bookform__header">
    <h1 class="bookform__head">BOOK A TABLE</h1>
    <!-- <img src="../../../assets/images/Gratia.png" alt=""> -->
    <p class="bookform__note">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="bookform__form">
    <div class="bookform__line-1">
      <div class="bookform__line-1_width">
        <input type="text" placeholder="DD">
        <input type="text" placeholder="MM">
        <input type="text" placeholder="YYYY">
      </div>
      <div class="bookform__line-1_width-2">
        <input type="text" placeholder="HOUR">
        <input type="text" placeholder="NUMBER OF PEOPLE">
      </div>
    </div>
    <div class="bookform__line-2">
      <input type="text" placeholder="FIRST NAME AND LAST NAME">
      <input type="text" placeholder="PHONE NUMBER">
    </div>
    <div class="bookform__line-3">
      <input type="text" placeholder="EMAIL">
      <input type="text" class="bookform__prepare-menu" placeholder="PREPARE MENU">
    </div>
    <textarea class="bookform__textarea" name="bookform text" placeholder="Your message..."></textarea>
    <button class="bookform__button">SEND</button>
  </div>
  <div class="bookform__footer">

  </div>
</div>
