<div class="bookform__container">
  <div class="bookform__form">
    <div class="bookform__line-1">
      <div class="bookform__line-1_width">
        <input type="text" placeholder="DD">
        <input type="text" placeholder="MM">
        <input type="text" placeholder="YYYY">
      </div>
      <div class="bookform__line-1_width-2">
        <input type="text" placeholder="HOUR">
        <input type="text" placeholder="NUMBER OF PEOPLE">
      </div>
    </div>
    <div class="bookform__line-2">
      <input type="text" placeholder="FIRST NAME AND LAST NAME">
      <input type="text" placeholder="PHONE NUMBER">
    </div>
    <div class="bookform__line-3">
      <input type="text" placeholder="EMAIL">
      <input type="text" placeholder="PREPARE MENU">
    </div>
    <textarea class="bookform__textarea" name=""></textarea>
    <button class="bookform__button">SEND</button>
  </div>
</div>