.bookform__form {
  width: 700px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.bookform__prepare-menu {
  background-color: #151b28;
}

.bookform__prepare-menu::placeholder {
  color: #d89b64;
}

.bookform__form > input {
  height: 50px;
}

.bookform__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bookform__footer {
  height: 200px;
}

.bookform__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/images/Gratia.png');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center; 
  width: 600px;
  height: 200px;
}

.bookform__head {
  margin: 0;
}

.bookform__note {
  color: #ccc;
  font-family: "CrimsonText Italic";
  margin: 0;
}

.bookform__line-1, .bookform__line-2,
.bookform__line-3 {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
}

.bookform__line-2 > input, .bookform__line-3 > input {
  width: 48.2%;
  height: 35px;
}

.bookform__line-2 > input::placeholder,
.bookform__line-3 > input::placeholder {
  padding-left: 10px;
}

input::placeholder {
  color: black;
  font-weight: bold;
  font-size: 10px;
}

input {
  border: none;
  box-shadow: 0 0 50px #ccc;
  font-size: 14px;
  
}

.bookform__textarea {
  width: 100%;
}
.bookform__line-1_width, .bookform__line-1_width-2 {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 48.5%;
}

.bookform__line-1_width > input {
  width: 28.5%;
  height: 35px;
  text-align: center;
}

.bookform__line-1_width-2 > input {
  width: 46%;
  height: 35px;
  text-align: center;
}

.bookform__textarea {
  box-sizing: border-box;
  height: 130px;
  box-shadow: 0 0 50px #ccc;
  border: none;
}

.bookform__textarea::placeholder {
  padding: 10px;
  color: #ccc;
}

.bookform__button {
  height: 35px;
  border: none;
  background-color: #d79b64;
  color: white;
}
